@import 'reset';



/* ------- Début du code de la page ------- */

body{font-family: 'Ubuntu', sans-serif;}

nav{
    position:fixed;
    top:0;
    left:0;
    display:flex;
    height:10vh;
    background: linear-gradient(180deg, rgba(16, 18, 37, 0.9) 20%, rgba(16, 18, 37, 0) 100%);
    width:100%;
    
    ul{
        display:flex;
        list-style: none;
        width: 50%;
        height:90%;
        justify-content: space-evenly;
        align-items: center;
        margin:auto;
        a{
            color:white;
            font-size: 1.4rem;
            cursor: pointer;

            &:hover{
                color: #1aa1aa;
            }
        }
    }
    
    #CV{
        position:absolute;
        right:2%;
        align-self: center;
        padding: 0.9rem 1.3rem;
        background-color: #1aa1aa;
        color:white;
        border-radius: 5px;

        &:hover{
            background-color: #2cc8d3;
        }
    }
}

#particles-js{
    /* ---- particles.js container ---- */ 
    position:absolute;
    width: 100%;
    background-color: rgb(16, 18, 37);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
    z-index:-1;

    canvas{
        position: absolute;
        top:0;
        z-index:-1;
    }
}


header{
    position:relative;
    width: 100%; 
    height: 95vh; 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;


    h2{
        font-size: 5em;
        margin:10px;
        color:rgba(255, 255, 255, 0.9);
        text-shadow: 0 0 5px #09394d;
        z-index:100;
    }

    h1{
        font-size: 2.3em;
        margin:0 0 20px;
        color:rgba(255,255,255,0.9);
        text-shadow: 0 0 5px #09394d;
        z-index:100;
        user-select: none;
    }

    p{
        color:white;
    }

    .down{
        position:absolute;
        bottom:20px;
        font-size: 3em;
        left:50%;
        color:white;
        text-shadow: 0 0 20px #09394d;
        animation: eyeCatch 2s infinite;
        z-index:100;
        cursor: pointer;
    }
}

@keyframes eyeCatch{
    0%{transform: translateY(-3px);}
    7%{transform: translateY(3px);}
    15%{transform: translateY(-3px);}
    23%{transform: translateY(3px);}
    30%{transform: translateY(-3px);}
    100%{transform: translateY(-3px);}
}


section{
    width: 85%;
    min-height:100vh;
    margin: auto;
    z-index: 1000;
    text-align: center;

    h2{
        font-size: 4rem;
        margin: 8% auto;
        text-align:center;
        color:white;
        user-select: none;
    }

    .aboutme{
        width:70%;
        margin:auto;
    }

    p{
        color:white;
        font-size: 1.3rem;
    }
}

.about{
    display:flex;
    align-items: center;
}

.contact{
    min-height:50vh;
    height:50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Cards
.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card{
        width:30%;
        min-width:350px;
        height:15rem;
        margin:2% 1%;
        border-radius: 5px;
        overflow: hidden;
        background-color: rgb(16, 18, 37);
        z-index:200;
        transition: all 0.5s ease-in-out; 
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
    
        &:hover{
            .pic img{
                transform:scale(1.05);
                opacity: 0.8;
            }
            .text{
                transform:translateY(-45%);
            }
            .pic .visit{
                background-color: #eeeeeebb;
            }
        }
    
        .pic{
            width:100%;
            height:75%;
            position:relative;
            img{
                width:100%;
                height:100%;
                transition: all 0.5s ease-in-out; 
            }

            .visit{
                background-color: rgba(200,200,200,0.7);
                position:absolute;
                top:0;
                right:0;
                width:25%;
                font-size: 1.4rem;
                padding:0.5rem;
                border-radius: 0 0 0 12px;
                display:flex;
                justify-content: space-evenly;
                // align-items:center;
                color:#999;
                transition: all 0.5s ease-in-out; 
    
                a{
                    text-decoration: none;
                    color: black;
                    margin:0 5px;
    
                    &:hover{
                        color: #1aa1aa;
                    }
                }
            }
        }
    
        .text{
            height:50%;
            position: relative;
            transition: all 0.5s ease-in-out; 
            background-color: #eee;
            box-shadow : 0 0 5px rgba(0, 0, 0, 0.3);
    
            h2{
                color: black;
                font-weight:400;
                font-size: 1.5rem;
                padding:1rem;
                margin:0;
            }
    
            .tech{
                display:flex;
                padding:2% 10%;
                justify-content: space-around;
                img{
                    width:35px;
                }
            }
        }
    
    }
}

.links a{
    color:white;
    font-size: 4rem;
    margin:1rem;

    &:hover{
        color:#1aa1aa;
    }
}



form{
    width:60%;
    margin:3vh auto;
    display:flex;
    flex-direction: column;
    justify-content: center;

    .form-row{
        margin: 2%;
        display:flex;
        justify-content: space-between;

        input, textarea{
            width:100%;
            line-height: 2rem;
            font-size: 1rem;
            border-radius: 5px;
            padding:3px 5px;
        }
    }

    .form-row-dbl input{
        width:48%;
    }

    button{
        width:60px;
        height:60px;
        font-size: 2rem;
        border-radius: 50%;
        align-self:center;
        margin-top:3%;
    }
}