@import 'reset';
@import 'hamburgers/hamburgers.scss';

$green: rgb(122, 191, 126);
$faded_green: rgba(122, 191, 126, 0.6);



/* ------- Début du code de la page ------- */

body{font-family: 'Titillium Web', sans-serif;}

nav{
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    height: 12vh;
    background-color: $green;
    width:100%;
    z-index:100;

    #logo{
        width: 100px;
        align-self: center;
        z-index:102;
        margin-left: 15px;
    }

    ul{
        position: absolute;
        top: 11.5vh;
        right: -100%;
        text-align:center;
        list-style: none;
        width: 100%;
        z-index: 90;
        transition: all .3s ease-in-out;
        padding-bottom: 10px;
        background-color: $green;
        li{
            margin: 20px 0;
        }
        a{
            position: relative;
            color:white;
            font-size: 1.6rem;
            cursor: pointer;
            z-index: 90;
            padding: 5px;
            font-weight: 200;
            &::after{
                content : "";
                position : absolute;
                width : 100%;
                height : 2px;
                background-color: white;
                bottom: 0;
                left: 0;
                transform: scaleX(0);
                transition: all .2s linear;
            }
            &:hover::after{
                transform: scaleX(1);
            }
        }
    }

    ul.visible{
        top: 11.5vh;
        right: 0;
        z-index: 90;
        border-radius: 0 0 20px 20px;
    }

    #burger{
        align-self: center;
        margin-right: 20px;
        z-index:101;
        button{
            outline: none;
        }
    }
}

// #myPic{
//     width: 200px;
// }


header{
    position:relative;
    width: 100%; 
    height: 50vh;
    margin: 11.5vh 0 5vh 0;
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(122, 191, 126);
    padding: 15px;

    div:first-child{
        width: 85%;
        margin: 5% 2%;
        
        h1{
            font-size: 2em;
            font-weight: 400;
            color:rgba(255,255,255,0.9);
            z-index:200;
            user-select: none;
            margin: auto;
            span{
                font-weight: 700;
            }
        }

        
    }

    div.wave{
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 25vh;
        width: 100%;
        background-image: url(../img/wave.svg);
        background-repeat: no-repeat;
        background-size: 105%;
        background-position: bottom;
    }

    .down{display: none;}
}

section{
    h2{
        display: block;
        font-size: 6em;
        font-weight: 900;
        color: $faded_green;
        margin: 0 5px;
    }

    div.containerCard{
        margin: 0 20px 30px;
        background-color: #f8f8f8;
        border-radius: 5px;
        box-shadow:  8px 8px 15px #dadada, 
                    -8px -8px 15px #ffffff;
        padding: 10px;

        div:first-child{
            position: relative;
        }

        div:first-child::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 15%;
            height: 1px;
            width: 70%;
            margin: auto;
            background-color: #ccc;
        }

        h3{
            font-weight: 200;
            text-align: center;
            font-size: 1.6em;
            margin: 10px 0 0;
        }

        div.techs{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            img{
                width: 60px;
                margin: 15px 10px;
            }

            .filling{
                height: 0;
                width: 60px;
                margin: 15px 10px;
            }
        }
        
    }
}

.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card{
        width:30%;
        min-width:350px;
        height:15rem;
        margin:2% 1%;
        border-radius: 5px;
        overflow: hidden;
        background-color: rgb(16, 18, 37);
        z-index:80;
        transition: all 0.5s ease-in-out; 
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
    
        &:hover{
            .pic img{
                transform:scale(1.05);
                opacity: 0.8;
            }
            .text{
                transform:translateY(-45%);
            }
            .pic .visit{
                background-color: #eeeeeebb;
            }
        }
    
        .pic{
            width:100%;
            height:75%;
            position:relative;
            img{
                width:100%;
                height:100%;
                transition: all 0.5s ease-in-out; 
            }

            .visit{
                background-color: rgba(200,200,200,0.7);
                position:absolute;
                top:0;
                right:0;
                width:25%;
                font-size: 1.4rem;
                padding:0.5rem;
                border-radius: 0 0 0 12px;
                display:flex;
                justify-content: space-evenly;
                // align-items:center;
                color:#999;
                transition: all 0.5s ease-in-out; 
    
                a{
                    text-decoration: none;
                    color: black;
                    margin:0 5px;
    
                    &:hover{
                        color: #1aa1aa;
                    }
                }
            }
        }
    
        .text{
            height:50%;
            position: relative;
            transition: all 0.5s ease-in-out; 
            background-color: #eee;
            box-shadow : 0 0 5px rgba(0, 0, 0, 0.3);
    
            h2{
                color: black;
                font-weight:400;
                font-size: 1.5rem;
                padding:1rem;
                margin:0;
            }
    
            .tech{
                display:flex;
                padding:2% 10%;
                justify-content: space-around;
                img{
                    width:35px;
                }
            }
        }
    
    }
}





@keyframes eyeCatch{
    0%{transform: translateY(-3px);}
    7%{transform: translateY(3px);}
    15%{transform: translateY(-3px);}
    23%{transform: translateY(3px);}
    30%{transform: translateY(-3px);}
    100%{transform: translateY(-3px);}
}


header .down{
    position:absolute;
    bottom:-7vh;
    font-size: 3em;
    left:48%;
    color: $green;
    text-shadow: 1px 2px 8px #ccc;
    animation: eyeCatch 2s infinite;
    z-index:99;
    cursor: pointer;
}