@import 'reset';
@import 'hamburgers/hamburgers.scss';

$green: rgb(122, 191, 126);
$faded_green: rgba(122, 191, 126, 0.6);
$lightgrey: #f8f8f8;



/* ------- Début du code de la page ------- */

body{font-family: 'Titillium Web', sans-serif;}

nav{
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    height: 12vh;
    background-color: $green;
    width:100%;
    z-index:100;

    #logo{
        width: 100px;
        align-self: center;
        z-index:102;
        margin-left: 15px;
    }

    ul{
        position: absolute;
        top: 11.5vh;
        right: -100%;
        text-align:center;
        list-style: none;
        width: 100%;
        z-index: 90;
        transition: all .3s ease-in-out;
        padding-bottom: 10px;
        background-color: $green;
        li{
            margin: 20px 0;
        }
        a{
            position: relative;
            color:white;
            font-size: 1.6rem;
            cursor: pointer;
            z-index: 90;
            padding: 5px;
            font-weight: 200;
            &::after{
                content : "";
                position : absolute;
                width : 100%;
                height : 2px;
                background-color: white;
                bottom: 0;
                left: 0;
                transform: scaleX(0);
                transition: all .2s linear;
            }
            &:hover::after{
                transform: scaleX(1);
            }
        }
    }

    ul.visible{
        top: 11.5vh;
        right: 0;
        z-index: 90;
        border-radius: 0 0 20px 20px;
    }

    #burger{
        align-self: center;
        margin-right: 20px;
        z-index:101;
        button{
            outline: none;
        }
    }
}

// #myPic{
//     width: 200px;
// }

.container{
    width: 100%;
    margin-top: 11.5vh;
}
header{
    position:relative;
    width: 100%; 
    height: 50vh;
    min-height: 300px;
    margin-bottom: 5vh;
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(122, 191, 126);
    padding: 15px;

    div:first-child{
        width: 85%;
        margin: 5% 2%;
        
        h1{
            font-size: 2em;
            font-weight: 400;
            color:rgba(255,255,255,0.9);
            z-index:200;
            user-select: none;
            margin: auto;
            span{
                font-weight: 700;
            }
        }

        
    }

    div.wave{
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 25vh;
        min-height: 50px;
        width: 100%;
        background-image: url(../img/wave.svg);
        background-repeat: no-repeat;
        background-size: 105%;
        background-position: bottom;
    }

    .down{display: none;}
}

section{
    h2{
        display: block;
        font-size: 6em;
        font-weight: 900;
        color: $faded_green;
        margin: 0 5px;
        line-height: .8em;
    }

    div.containerCard{
        margin: 0 20px 50px;
        background-color: $lightgrey;
        border-radius: 10px;
        box-shadow:  8px 8px 15px #dadada, 
                    -8px -8px 15px #ffffff;
        padding: 20px;

        div.web{
            position: relative;
        }

        div.web::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 25%;
            height: 1px;
            width: 50%;
            margin: auto;
            background-color: #ccc;
        }

        h3{
            font-weight: 200;
            text-align: center;
            font-size: 1.6em;
            margin: 10px 0 0;
        }

        // -- TECHNOLOGIES LOGO
        div.techs{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            img{
                width: 60px;
                margin: 15px 10px;
            }

            .filling{
                height: 0;
                width: 60px;
                margin: 0 10px;
            }
        }
        // -- ABOUT TEXT
        &.about p{
            color: #333;
        }

        // -- CONTACT LINKS
        &.links{
            text-align: center;
            a{
                display: inline-block;
                font-size: 4em;
                margin: 20px;
                transition: transform .1s ;
            }
            #github{color: black;}
            #linkedin{color: #0073b1;}
            a:hover{
                display: inline-block;
                opacity: .7;
                transform: scale(.97);
            }

        }
        
    }
}

.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;

    .card{
        width:400px;
        min-width:350px;
        height:15rem;
        margin:2% 1%;
        border-radius: 5px;
        overflow: hidden;
        background-color: rgb(16, 18, 37);
        z-index:80;
        transition: all 0.5s ease-in-out; 
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
    
        &:hover{
            .pic img{
                transform:scale(1.05);
                opacity: 0.8;
            }
            .text{
                transform:translateY(-47%);
            }
            .pic .visit{
                background-color: #eeeeeebb;
            }
        }
    
        .pic{
            width:100%;
            height:75%;
            position:relative;
            img{
                width:100%;
                height:100%;
                transition: all 0.5s ease-in-out; 
            }

            .visit{
                background-color: rgba(200,200,200,0.7);
                position:absolute;
                top:0;
                right:0;
                width:25%;
                font-size: 1.4rem;
                padding:0.5rem;
                border-radius: 0 0 0 12px;
                display:flex;
                justify-content: space-evenly;
                // align-items:center;
                color:#999;
                transition: all 0.5s ease-in-out; 
    
                a{
                    text-decoration: none;
                    color: black;
                    margin:0 5px;
    
                    &:hover{
                        color: #1aa1aa;
                    }
                }
            }
        }
    
        .text{
            height:50%;
            position: relative;
            transition: all 0.5s ease-in-out; 
            background-color: #eee;
            box-shadow : 0 0 8px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
    
            h2{
                color: black;
                font-weight:400;
                font-size: 1.5rem;
                padding:.6rem 1rem;
                margin:0;
            }
    
            .tech{
                display:flex;
                padding:2% 10%;
                justify-content: space-around;
                img{
                    width:35px;
                }
            }
        }
    
    }

    .newCard{
        background-color: transparent;
        width: 330px;
        height: 240px;
        perspective: 1000px;
        margin: 20px  5px;
        .newCard_inner{
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.7s;
            transform-style: preserve-3d;
        }
        &:hover .newCard_inner {
            transform: rotateY(180deg);
        }
        .front, .back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            border-radius: 4px;
          }
          .front {
            background-color: $lightgrey;
            color: black;
            box-shadow:  4px 4px 12px #dadada, 
                        -4px -4px 12px #ffffff;
            img{
                width: 100%;
                border-radius: 4px 4px 0 0;
            }
            h4{
                position: absolute;
                bottom: 5px;
                left: 10px;
                margin: 0;
                font-size: 1.4em;
                font-weight: 400;
            }
          }
          .back {
            background-color: $lightgrey;
            color: white;
            transform: rotateY(180deg);
            box-shadow:  4px 4px 12px #dadada, 
                        -4px -4px 12px #ffffff;
            padding: 15px;
            
            h4{
                font-size: 1.4rem;
                color: $green;
                font-weight: 400;
                margin: 0 0 10px;
            }
            h5{
                margin: 0;
                color: black;
                font-weight: 200;
                font-size: 1.1rem;
            }

            .visit{
                a{
                    font-size: 2rem;
                    color: black;
                    margin: 0 5px;
                    &:hover{
                        color: $green;
                    }
                }
            }
            .tech{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                img{
                    width: 40px;
                    margin: 10px;
                }
            }            

          }
    }
    .fillCard{
        width: 350px;
        height: 0;
        margin: 0 auto;
    }
}

footer{
    width: 100%;
    height: 40px;
    background-color: $green;
    display: flex;
    justify-content: center;

    p{
        display: inline-block;
        align-self: center;
        color: white;
        font-weight: 200;
    }
}




@media only screen and (min-width: 550px) {

    
    nav{
        height: 10vh;
        min-height: 70px;
        
        ul, ul.visible{
            top: 9vh;
        }
    }

    .container{
        margin-top: 9vh;
    }

    header{
        min-height: 400px;
        div:first-child{
            width: 100%;
            h1{
                font-size: 2.5em;
            }
        } 
    }

    section {
        h2{
        font-size: 9em;
        margin: 0 10px;
        }

        div.containerCard{
            margin: 0 30px 70px;
        }
    }

    #contact .containerCard{
        max-width: 500px;
    }
}

@media only screen and (min-width: 768px) {

    .container{
        margin-top: 50px;
    }

    nav{
        height: 50px;

        #logo{
            width: 95px;
        }
        ul{
            position: absolute;
            top: 0;
            right: 20px;
            height: 8vh;
            display: flex;
            justify-content: space-evenly;
            width: 60%;
            max-width: 500px;
            li a{
                font-size: 1.35em;
            }
        }

        #burger{
            display: none;
        }
    }

    header{
        height: 85vh;
        min-height: 600px;
        margin-bottom: 8vh;

        div:first-child{
            margin-top: 15vh;
            
            h1{
                font-size: 3em;
            }
        }

        div.wave{
            min-height: 300px;
        }

        & .down{
            display: block;
            position:absolute;
            bottom:-4vh;
            font-size: 3em;
            left:48%;
            color: $green;
            // text-shadow: 1px 2px 8px #ccc;
            animation: eyeCatch 2s infinite;
            z-index:99;
            cursor: pointer;
        }
    }

    @keyframes eyeCatch{
        0%{transform: translateY(-3px);}
        7%{transform: translateY(3px);}
        15%{transform: translateY(-3px);}
        23%{transform: translateY(3px);}
        30%{transform: translateY(-3px);}
        100%{transform: translateY(-3px);}
    }


    section {

        h2{
            font-size: 13em;
            margin: 0 25px;
            position: relative;
        }

        // h2::after{
        //     content: "SKILLS";
        //     font-size: 2.3em;
        //     position: absolute;
        //     color: rgba(122, 191, 126, 0.2) ;
        //     left: 70px;
        //     top: 150px;
        //     z-index: -1;
        // }

        div.containerCard{
        width: 90%;
        max-width: 900px;
        margin: 0 auto 70px;
        }

        &#skills .containerCard{
            display: flex;

            &>div{
                width: 50%;
                padding: 15px;
            }

            div.web{

                border-right: 1px solid #ccc;
                &::after{
                    display: none;
                }
            }

            div.techs{
                img{
                    width: 70px;
                }
                .filling{
                    width: 70px;
                }
            }
        }

        .containerCard.about p{
            font-size: 1.1em;
        }


        .cards{
            padding: 0 20px;
            max-width: 1100px;
            margin: 0 auto 80px;
        }

        #contact .containerCard.links a{
            font-size: 5em;
        }
    }
}