@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, ul, ol {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* ------- Début du code de la page ------- */
body {
  font-family: 'Ubuntu', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12vh;
  background-color: #7abf7e;
  width: 100%;
  z-index: 100;
}

nav #logo {
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 102;
  margin-left: 15px;
}

nav ul {
  position: absolute;
  top: 11.5vh;
  right: -100%;
  text-align: center;
  list-style: none;
  width: 100%;
  z-index: 90;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding-bottom: 10px;
  background-color: #7abf7e;
}

nav ul li {
  margin: 20px 0;
}

nav ul a {
  position: relative;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 90;
  padding: 8px 2px;
}

nav ul a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

nav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav ul.visible {
  top: 11.5vh;
  right: 0;
  z-index: 90;
  border-radius: 0 0 20px 20px;
}

nav #burger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
  z-index: 101;
}

nav #burger button {
  outline: none;
}

#myPic {
  width: 200px;
}

#particles-js {
  /* ---- particles.js container ---- */
  position: absolute;
  width: 100%;
  background-color: #101225;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

#particles-js canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

header {
  position: relative;
  width: 100%;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 {
  font-size: 5em;
  margin: 10px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 5px #09394d;
  z-index: 100;
}

header h1 {
  font-size: 2.3em;
  margin: 0 0 20px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 5px #09394d;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header p {
  color: white;
}

header .down {
  position: absolute;
  bottom: 20px;
  font-size: 3em;
  left: 50%;
  color: white;
  text-shadow: 0 0 20px #09394d;
  -webkit-animation: eyeCatch 2s infinite;
          animation: eyeCatch 2s infinite;
  z-index: 100;
  cursor: pointer;
}

@-webkit-keyframes eyeCatch {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  7% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  15% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  23% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  30% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@keyframes eyeCatch {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  7% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  15% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  23% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  30% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

section {
  width: 85%;
  min-height: 100vh;
  margin: auto;
  z-index: 1000;
  text-align: center;
}

section h2 {
  font-size: 4rem;
  margin: 8% auto;
  text-align: center;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section .aboutme {
  width: 70%;
  margin: auto;
}

section p {
  color: white;
  font-size: 1.3rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  min-height: 50vh;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards .card {
  width: 30%;
  min-width: 350px;
  height: 15rem;
  margin: 2% 1%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #101225;
  z-index: 200;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}

.cards .card:hover .pic img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}

.cards .card:hover .text {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.cards .card:hover .pic .visit {
  background-color: #eeeeeebb;
}

.cards .card .pic {
  width: 100%;
  height: 75%;
  position: relative;
}

.cards .card .pic img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cards .card .pic .visit {
  background-color: rgba(200, 200, 200, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 0 0 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #999;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cards .card .pic .visit a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}

.cards .card .pic .visit a:hover {
  color: #1aa1aa;
}

.cards .card .text {
  height: 50%;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #eee;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.cards .card .text h2 {
  color: black;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
}

.cards .card .text .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards .card .text .tech img {
  width: 35px;
}

.links a {
  color: white;
  font-size: 4rem;
  margin: 1rem;
}

.links a:hover {
  color: #1aa1aa;
}

form {
  width: 60%;
  margin: 3vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .form-row {
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .form-row input, form .form-row textarea {
  width: 100%;
  line-height: 2rem;
  font-size: 1rem;
  border-radius: 5px;
  padding: 3px 5px;
}

form .form-row-dbl input {
  width: 48%;
}

form button {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 3%;
}
/*# sourceMappingURL=style.css.map */