@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, ul, ol {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* ------- Début du code de la page ------- */
body {
  font-family: 'Titillium Web', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12vh;
  background-color: #7abf7e;
  width: 100%;
  z-index: 100;
}

nav #logo {
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 102;
  margin-left: 15px;
}

nav ul {
  position: absolute;
  top: 11.5vh;
  right: -100%;
  text-align: center;
  list-style: none;
  width: 100%;
  z-index: 90;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding-bottom: 10px;
  background-color: #7abf7e;
}

nav ul li {
  margin: 20px 0;
}

nav ul a {
  position: relative;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 90;
  padding: 5px;
  font-weight: 200;
}

nav ul a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

nav ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav ul.visible {
  top: 11.5vh;
  right: 0;
  z-index: 90;
  border-radius: 0 0 20px 20px;
}

nav #burger {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 20px;
  z-index: 101;
}

nav #burger button {
  outline: none;
}

.container {
  width: 100%;
  margin-top: 11.5vh;
}

header {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #7abf7e;
  padding: 15px;
}

header div:first-child {
  width: 85%;
  margin: 5% 2%;
}

header div:first-child h1 {
  font-size: 2em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  z-index: 200;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto;
}

header div:first-child h1 span {
  font-weight: 700;
}

header div.wave {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 25vh;
  width: 100%;
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: bottom;
}

header .down {
  display: none;
}

section h2 {
  display: block;
  font-size: 6em;
  font-weight: 900;
  color: rgba(122, 191, 126, 0.6);
  margin: 0 5px;
  line-height: .8em;
}

section div.containerCard {
  margin: 0 20px 50px;
  background-color: #f8f8f8;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 15px #dadada,  -8px -8px 15px #ffffff;
          box-shadow: 8px 8px 15px #dadada,  -8px -8px 15px #ffffff;
  padding: 20px 15px;
}

section div.containerCard div:first-child {
  position: relative;
}

section div.containerCard div:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  height: 1px;
  width: 50%;
  margin: auto;
  background-color: #ccc;
}

section div.containerCard h3 {
  font-weight: 200;
  text-align: center;
  font-size: 1.6em;
  margin: 10px 0 0;
}

section div.containerCard div.techs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section div.containerCard div.techs img {
  width: 60px;
  margin: 15px 10px;
}

section div.containerCard div.techs .filling {
  height: 0;
  width: 60px;
  margin: 15px 10px;
}

section div.containerCard .about p {
  color: #555;
}

section div.containerCard.links {
  text-align: center;
}

section div.containerCard.links a {
  display: inline-block;
  font-size: 4em;
  margin: 20px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

section div.containerCard.links #github {
  color: black;
}

section div.containerCard.links #linkedin {
  color: #0073b1;
}

section div.containerCard.links a:hover {
  display: inline-block;
  opacity: .7;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.cards .card {
  width: 400px;
  min-width: 350px;
  height: 15rem;
  margin: 2% 1%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #101225;
  z-index: 80;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}

.cards .card:hover .pic img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}

.cards .card:hover .text {
  -webkit-transform: translateY(-47%);
          transform: translateY(-47%);
}

.cards .card:hover .pic .visit {
  background-color: #eeeeeebb;
}

.cards .card .pic {
  width: 100%;
  height: 75%;
  position: relative;
}

.cards .card .pic img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cards .card .pic .visit {
  background-color: rgba(200, 200, 200, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 0 0 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #999;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cards .card .pic .visit a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}

.cards .card .pic .visit a:hover {
  color: #1aa1aa;
}

.cards .card .text {
  height: 50%;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #eee;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.cards .card .text h2 {
  color: black;
  font-weight: 400;
  font-size: 1.5rem;
  padding: .6rem 1rem;
  margin: 0;
}

.cards .card .text .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards .card .text .tech img {
  width: 35px;
}

.cards .newCard {
  background-color: transparent;
  width: 350px;
  height: 240px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 20px  auto;
}

.cards .newCard .newCard_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cards .newCard:hover .newCard_inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cards .newCard .front, .cards .newCard .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 4px;
}

.cards .newCard .front {
  background-color: #f8f8f8;
  color: black;
  -webkit-box-shadow: 4px 4px 12px #dadada,  -4px -4px 12px #ffffff;
          box-shadow: 4px 4px 12px #dadada,  -4px -4px 12px #ffffff;
}

.cards .newCard .front img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.cards .newCard .front h4 {
  position: absolute;
  bottom: 5px;
  left: 10px;
  margin: 0;
  font-size: 1.4em;
  font-weight: 400;
}

.cards .newCard .back {
  background-color: #f8f8f8;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 4px 4px 12px #dadada,  -4px -4px 12px #ffffff;
          box-shadow: 4px 4px 12px #dadada,  -4px -4px 12px #ffffff;
  padding: 15px;
}

.cards .newCard .back h4 {
  font-size: 1.4rem;
  color: #7abf7e;
  font-weight: 400;
  margin: 0 0 10px;
}

.cards .newCard .back h5 {
  margin: 0;
  color: black;
  font-weight: 200;
  font-size: 1.1rem;
}

.cards .newCard .back .visit a {
  font-size: 2rem;
  color: black;
  margin: 0 5px;
}

.cards .newCard .back .visit a:hover {
  color: #7abf7e;
}

.cards .newCard .back .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .newCard .back .tech img {
  width: 40px;
  margin: 10px;
}

.cards .fillCard {
  width: 350px;
  height: 0;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #7abf7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-weight: 200;
}

@-webkit-keyframes eyeCatch {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  7% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  15% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  23% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  30% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

@keyframes eyeCatch {
  0% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  7% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  15% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  23% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  30% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

header .down {
  position: absolute;
  bottom: -7vh;
  font-size: 3em;
  left: 48%;
  color: #7abf7e;
  text-shadow: 1px 2px 8px #ccc;
  -webkit-animation: eyeCatch 2s infinite;
          animation: eyeCatch 2s infinite;
  z-index: 99;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */